//* Font Variables *//
$font-genos: "Genos", sans-serif;
$font-aldrich: "Aldrich", sans-serif;
$font-exo2: "Exo 2", sans-serif;

//* Custom Font Variables *//
$font-kanit: "Kanit", sans-serif;
$font-fjallaO: "Fjalla One", sans-serif;
$font-josefinS: "Josefin Sans", sans-serif;
$font-outfit: "Outfit", sans-serif;
$font-barlow: "Barlow", sans-serif;
$font-ubuntuC: "Ubuntu Condensed", sans-serif;
$font-redHD: "Red Hat Display", sans-serif;
$font-zillaS: "Zilla Slab", serif;
$font-baloo2: "Baloo 2", cursive;
$font-museoModerno: "MuseoModerno", cursive;
$font-odibeeS: "Odibee Sans", cursive;
$font-oxanium: "Oxanium", cursive;
